.calculadora{
    background-color: rgb(130, 155, 147);
    display: list-item;
    list-style: none;
    max-width: auto;
    height: auto;
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
    margin-top: 10%;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}
.titulo{
    order: 1;
    
}
.totalFaturamento{
    order: 2;
}
.porcentagemGarcom{
    order: 3;
    list-style: none;
    display: inline-flex;
    margin: auto;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 20px;

    
}.porcentagemGarcom label{
    
    margin: 2px;
    
}
.quantidadePessoas{
    order: 4;
}
.commit{
    order: 5;
}
.totalizadores{
    order: 6;
}
label, input{
    margin: 8px;
}